<!doctype html>
<html>
<head>
    <title>zq-react-build</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="create-time" content="<%= htmlWebpackPlugin.options.createTime  %>" />
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- 第三方 css/js 依赖引用 -->
</head>
<body>
    <!-- entry 节点 -->
    <div id="root"></div>
    <!-- 开发文件注入在此处, 请在此处之前添加其他依赖 -->
</body>
</html>